<ion-content class="orderViewCls" scroll="false">
	
	<div ng-if="view_name=='select_dealer'">
		<div style="height: 37.5px;">
			<span class="loc_icon_cls"></span>
			<ion-google-place placeholder="Enter location for water delivery services" ng-model="location" required name="address" location-changed="update_location" class="locationInputCls"/>
			<!-- <input id="loc_input_id" ng-change="update_location(location)" ng-model="location" type="text" placeholder="Enter location for water delivery services" class="locationInputCls"/> -->
		</div>
		
		<ion-list class="dealer_list_cls" >
            <ion-item class="dealer_list_item_cls" ng-repeat="item in dealer_data" ng-click="select_bottle(item)">
                <div style="font-weight:bold;">{{item.name}}</div>
                <div>{{item.address}}</div>
                <div>
                	<span style="float:left">{{item.contactNum}}</span>
                	<span style="float:right">Rating :: {{item.rating}}</span>
                </div>
            </ion-item>
        </ion-list>
     </div>
		
		
	<div ng-if="view_name=='select_bottle'">
		<ion-list class="bottle_list_cls" >
            <ion-item class="bottle_list_item_cls" ng-repeat="item in bottle_data" ng-click="update_bottle_quantity(item)">
                <div>
                	<div style="float:left" class="bottle_description_cls">
                		<div style="font-weight: bold;">{{item.name}}</div>
                		<div><span style="font-weight: bold;">Price</span>  {{item.price}}</div>
                		<div ng-if="item.quantity"><span style="font-weight: bold;">Quantity</span>  {{item.quantity}}</div>
                	</div>
                	<div style="float:right" class="add_icon_cls">
                	</div>
                </div>
            </ion-item>
        </ion-list>
        <div class="nav_button_cls">
        	<span class="nav_back_button_cls" ng-click="select_dealer()">Go Back</span>
        	<span class="nav_payment_button_cls" ng-click="make_payment()">Make payment</span>
        </div>
	</div>	
		
	<div ng-class="popup_message_visible==true ? 'visible message_popup_cls': 'hidden message_popup_cls'" class="message_popup_cls">{{popup_message}}</div>
	
	<div id="map" style="    height: 178px;"></div>
</ion-content>