.mainViewCls .mainViewToolbarCls{
	background-color: transparent;
    background: transparent;
    border: 0px;
    color: white;
    height: 10%;
    width: 100%;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls{
    height: 100%;
    display: table;
    width: 100%;
    background: rgba(4, 4, 4, 0.51) center center no-repeat;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanTitle{
    vertical-align: middle;
    display: table-cell;
    width: 25%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanDesc{
	vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    width: 50%;
}
.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .loginDetailContainerCls{
	vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    width: 25%;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .loginDetailContainerCls .login_option_menu{
	opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    float: right !important;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .loginDetailContainerCls .login_option_menu.open{
 	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);		
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .loginDetailContainerCls .loginButtonCls{
    height: 70%;
    width: 35%;	
    background: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 768px) and (orientation: portrait){
	.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanTitle{
		font-size: 24px;
		width: 44%;
	}
	.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanDesc{
	    font-size: 14px;
	}
}







.mainViewCls .detailPanelCls{
	height: 90%;
    width: 100%;
    float: left;
    font-size: 15px;
    transition: all 200ms ease-in-out;
    display: inline;
}