.mainViewCls .mainViewToolbarCls{
	background-color: transparent;
    background: transparent;
    border: 0px;
    color: white;
    height: 10%;
    width: 100%;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls{
    height: 100%;
    display: table;
    width: 100%;
    background: rgba(4, 4, 4, 0.51) center center no-repeat;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanTitle{
    vertical-align: middle;
    display: table-cell;
    width: 25%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanDesc{
	vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    width: 50%;
}
.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .loginDetailContainerCls{
	vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    width: 25%;
}
.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .loginDetailContainerCls .loginButtonCls{
    height: 70%;
    width: 35%;	
    background: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 768px) and (orientation: portrait){
	.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanTitle{
		font-size: 24px;
		width: 44%;
	}
	.mainViewCls .mainViewToolbarCls .mainViewToolbarTextCls .spanDesc{
	    font-size: 14px;
	}
}







.mainViewCls .detailPanelCls{
	height: 90%;
    width: 100%;
    float: left;
    font-size: 15px;
    transition: all 200ms ease-in-out;
    display: inline;
}