<ion-content class="mainViewCls" scroll="false" id="main_view_id">

		<div class="mainViewToolbarCls">
			<div class="mainViewToolbarTextCls">
				<div class="spanTitle">AquaCan         </div>
				<div class="spanDesc">Your water ordering app</div>
				<div class="loginDetailContainerCls"> 
					<div ng-if='isLoggedIn==true'>
						Hi {{user_data_obj.first_name}} !  <img style="border-radius: 50%;" ng-if="user_data_obj.profile_pic!=null" ng-src="{{user_data_obj.profile_pic}}" alt=""/>
					</div>
					<button class="loginButtonCls" ng-if='isLoggedIn==false'>Login/Register</button>
				</div>
				
			</div>
		</div>
		
		<ion-nav-view class="detailPanelCls" name="app_content"></ion-nav-view>
		
</ion-content>