.orderViewCls .loc_icon_cls{
	background: url(../images/loc_icon.png) no-repeat scroll 7px 1px;
	background-size: contain;
	width: 13%;
    float: left;
    min-height: 2.5em;
}

.orderViewCls .locationInputCls{
	font-size: 15px;
    width: 87%;
    text-align: left;
    min-height: 2.5em;
    margin-left: 13%;
    padding: 0;
    z-index: 1000;
}

.orderViewCls .message_popup_cls{
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 80%;
    background: grey;
    margin-left: 10%;	
}


.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s linear;
  -moz-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  -moz-transition: visibility 0s 2s, opacity 2s linear;
  -o-transition: visibility 0s 2s, opacity 2s linear;
  transition: visibility 0s 2s, opacity 2s linear;
}


.orderViewCls .bottle_list_cls .bottle_list_item_cls .add_icon_cls{
	background: url(../images/add_icon.jpg) no-repeat scroll 7px 1px;
	background-size: contain;
	width: 13%;
    float: right;
    min-height: 2.5em;
}
.orderViewCls .bottle_list_cls .bottle_list_item_cls .bottle_description_cls{
	width: 87%;
    float: left;
    min-height: 2.5em;	
}




.orderViewCls .nav_button_cls{
    position: absolute;
    height: 45px;
    width: 100%;
    bottom: 10.9%;
}
.orderViewCls .nav_button_cls .nav_back_button_cls{
    width: 50%;
    height: 45px;
    float: left;
    text-align: center;
    border: 1px solid black;
    border-right: 0px;
    line-height: 45px;
}
.orderViewCls .nav_button_cls .nav_payment_button_cls{
    width: 50%;
    background: #3abbd0;
    height: 45px;
    float: right;
    text-align: center;
    border: 1px solid black;
    line-height: 45px;
}